.idea
.vscode/

# Terraform and terragrunt
*.tfstate/
*.tfstate.backup
*.tfplan
.terragrunt-cache/
.terraform/

.bak
scratch*

#
# Configs
#
secrets.yaml
.circleci/.configs
ansible_inventory.tpl

!deployments/.gitkeep
deployments/

# Python
env/
venv/
*.pyc
Pipfile
Pipfile.lock

# Other
id_rsa_test*
