.idea

# Terraform and terragrunt
*.tfstate/
*.tfstate.backup
*.tfplan
.terragrunt-cache/
.terraform/

#
# Configs
#
config.yaml
.circleci/.configs
# Low level config files
account.tfvars
secrets.yaml
global.yaml
region.tfvars
# Cookiecutter
!{{cookiecutter.deployment_name}}/account.tfvars
!{{cookiecutter.deployment_name}}/secrets.yaml
!{{cookiecutter.deployment_name}}/global.yaml
!{{cookiecutter.deployment_name}}/region.tfvars
!{{cookiecutter.deployment_name}}/aws_sentries.tfvars


# Python
*.pyc
Pipfile
Pipfile.lock

# Other
id_rsa_test*


# meta
packer/
#ansible/
modules/

