dev:
  public_key: ssh-rsa AAAAB...lots more random stuff.....ooQ== user@ubuntu
  private_key_path: /home/user/.ssh/dev_id_rsa
  root_domain_name: insight-infra.net

prod:
  public_key: ssh-rsa AAAA...lots more random stuff.....ooQ== user@ubuntu
  private_key_path: /home/user/.ssh/prod_id_rsa
  root_domain_name: insight-infra.net
