
locals {
{% if cookiecutter.backend == "aws" %}
  aws_account_id = "{{ cookiecutter.aws_account_id }}"
{% endif %}

{% if cookiecutter.packet_auth_token != "" %}
  packet_auth_token = "{{ cookiecutter.packet_auth_token }}"
{% endif %}

  environment = "{{ cookiecutter.environment }}"
  namespace = "{{ cookiecutter.namespace }}"
  network_name = "{{ cookiecutter.network_name }}"
  owner = "{{ cookiecutter.owner }}"
}