aws_allowed_account_ids = ["{{ cookiecutter.aws_account_id }}"]

environment = "{{ cookiecutter.environment }}"
namespace = "{{ cookiecutter.namespace }}"
network_name = "{{ cookiecutter.network_name }}"
owner = "{{ cookiecutter.owner }}"
