network_name: "{{ cookiecutter.network_name }}"

namespace: "{{ cookiecutter.namespace }}"
environment: "{{ cookiecutter.environment }}"
owner: "{{ cookiecutter.owner }}"

aws_azs:
  - "{{ cookiecutter.aws_region }}a"
  - "{{ cookiecutter.aws_region }}b"
  - "{{ cookiecutter.aws_region }}c"

domain_name: "{{ cookiecutter.domain_name }}"
private_tld: "{{ cookiecutter.namespace }}.internal"

vault_enabled: true
bastion_enabled: false
monitoring_enabled: true
hids_enabled: true
logging_enabled: true
consul_enabled: true
