# absolute path
public_key_path: "{{ cookiecutter.public_key_path }}"
# absolute path
private_key_path: "{{ cookiecutter.private_key_path }}"

# Leave empty to have ssh open to the world or provide to lock down ssh to corp ip
# For developers, since your IP changes a lot, should leave this blank (ie "")
corporate_ip: "{{ cookiecutter.corporate_ip }}"
