locals {
  stack = "{{ stack }}"
  namespace = "{{ namespace }}"
  network_name = "{{ network_name }}"
  environment = "{{ environment }}"
  region = "{{ region }}"

  deployment_name = "${local.stack}.${local.namespace}.${local.network_name}.${local.environment}.${local.region}"

  deployment = yamldecode(file("${get_parent_terragrunt_dir()}/deployments/${local.deployment_name}.yaml"))
  versions = yamldecode(file("${get_parent_terragrunt_dir()}/configs/versions.yaml"))[local.environment]
}
